.gestao{
    background-color: white;
    padding: 0px 10px 7px 10px;
    color: #707070;
    border-radius: 5px;
    border: 1px solid white;
    margin: 22px 0;
    box-shadow: -3px 3px 10px #E1E2E4;
}

.gestao h3{
    margin: 8px 0px;
}

.card_gestao{
    background-color: #E8F1F5;
}

.card_gestao h5{
    padding: 0px 5px;
    font-weight: normal;
}

.img_gestao{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 3px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}

.card_comercial {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    margin: 5px 4px;
    max-width: 100%;
    width: 20%;
    height: 52px;
    box-shadow: -5px 5px 10px #E1E2E4;
    overflow: hidden;
}

.card_comercial img{
    max-width: 150%;
    height: 100%;
}


@media screen and (max-width: 768px) {

    .gestao{
        width: 100% !important;
    }

    .img{
        margin: 5px 8px;
        width: 20%;
        height: 70px;
    }

}

@media screen and (max-width: 1024px) {
    
    .gestao{
        height: 50%;
        width: 50%;
    }

}